* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{
    width: 100%;
    height: 100%;
}

header
{
    width: 100%;
    height: 60px;
    background-color: #efefef;
    padding: 1.2rem;
}
nav
{
    width: 100%;
    height: 60px;
    background-color: #efefef;
}
.nav-div
{
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 20px;
}
.logo
{
    font-size: 2rem;
    letter-spacing: 1.6px;
    color: lightseagreen;
}
ul
{
    list-style: none;
    display: flex;
}
li{
    display: inline-block;
}
li a
{
    padding: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    color: lightseagreen;
    font-weight: 300;
    text-transform:capitalize;
}
li a:hover
{
    color: #000;
    transition: .3s ease-in-out;
}
.page-1
{
    width: 100%;
    height: 100vh;
    background: url(/Assets/images/architect.jpg) center no-repeat ;
    background-size: cover;
    /* background-color: lightseagreen; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.page-1 b
{
    background-color: #000;
    color: #fff;
    font-size: 3rem;
    width: 70px;
    text-align: center;
    border-radius: 10px;
}
.page-1 span
{
    font-size: 2.5rem;
    font-weight: 900;
    margin-top: 18px;
    /* text-decoration: underline #000; */
    color: #fff;
}
.page-2
{
    width: 100%;
    height: 110vh;
    /* background-color: #efefef; */
}
.projects
{
    width: 100%;
    height: 200px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
}
.projects h2
{
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-top: 20px;
}
.projects p
{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    font-size: 17px;
}
.container {
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
}

.row {
    display: flex;
}

.col {
    width: 100%;
    padding: 8px;
}

.card {
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    height: 600px;
    /* border: 1px solid black; */
    background-color: white;
}
.top img
{
    width: 100%;   
}
.bottom
{
    width: 100%;
    height: 100%;
    margin-top: 10px;
    padding:  10px 20px;
}
.content
{
    width: 100%;
    /* height: 100%; */
    /* border: 2px solid black; */
    padding: 6px;
}
.content h2
{
    font-size: 1.8rem;
}
.content p{
    font-size: 17px;
}
.content
h3
{
    font-size: 1.6rem;
    display: inline-block;
}
.content span
{
    font-size: 1.2rem;
    font-weight: 900;
    display: inline-block;
   
}
.content button
{
  width: 100%;
  margin-top: 5px;
  height: 35px;
  font-size: 17px;
  text-transform: uppercase;
  background-color: transparent;
  border: 2px solid lightseagreen;
  border-radius: 6px;
  margin-top: 20px;
}
.content button:hover
{
    background-color: #000;
    color: #fff;
    border: none;
    transition: .3s ease-in;
}
.about
{
    width: 100%;
    height: 150px;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    /* margin-top: 50px; */
}
.about h2
{
    font-size: 1.8rem;
    letter-spacing: 2px;
    margin-top: 20px; 
}
.about p
{
    width: 70%;
    text-align: center;
    margin-top: 10px;
    font-size: 17px; 
}
.team {
    width: 100%;
    height: 80vh;
    /* margin-top: 30px; */
    display: flex;
    flex-wrap: wrap;
    /* border: 2px solid black; */
    padding: 2rem;
    /* text-align: center; */
}
.team-1
{
    width: 25%;
    height: 100%;
    /* border: 2px solid black; */
    margin: 0;
}
.team-top
{
    width: 100%;
    height: 60%;
    margin-bottom: 10px;
}
.team-top img
{
    width: 85%;
    height: 100%;
    border-radius: 50%;
}
.taem-bottom
{
  width: 100%;
  height: 38%;
  /* background-color:lightseagreen; */
  padding: 10px;
}
.taem-bottom h2 
{
    color: #000;
    font-size: 1.8rem;
    letter-spacing: 1px;
    margin-bottom: 8px;
    font-weight: 900;
    text-transform: uppercase;
}
.taem-bottom h5
{
    margin-bottom: 5px;
    font-size: 1.1rem;
    opacity: .5;
    color: #000;
}
.taem-bottom p
{
    margin-bottom: 6px;
}
.taem-bottom
button
{
  margin-top: 24px;
  width: 100%;
  height: 30px;
  font-size: 1.1rem;
  background-color:transparent;
  border: 2px solid black;
  transition: .3s ease-in-out;

}
.taem-bottom button:hover
{
    background-color: #000;
    color: white;
}
.contact
{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 1.2rem;
}
.contact h2
{
    font-size: 2rem;
    margin: 0 0 10px 0;
}
.form
{
    width: 100%;
    /* margin: 0 auto; */
    height: 400px;
    /* display:inline-block; */
    flex-direction: row;
}
input
{
    width: 98%;
    padding: 15px;
    margin: 15px;
    font-size: 1.2rem;
    font-weight: 300;
    text-transform: uppercase;
}
.button button
{
    width: 180px;
    height: 40px;
    margin: 10px;
    margin-left: 17px;
    padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
  background-color: black;
  color: #fff;
  transition: .3s ease-in-out;
}
.button button:hover
{
    background-color: transparent;
    color: #000;
}
.last
{
    width: 100%;
    height: 100vh;
    /* border: 2px solid black; */
    background-image: url(/Assets/images/map.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 5%;
}
footer
{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1rem;
    background-color: black;
    color: white;
}
footer  span a
{
    font-size: 18px;
    text-decoration: none;
}
footer a:hover
{
    text-decoration: underline;
}